<a href="https://colab.research.google.com/github/Cyrus-spc-tech/Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
S1 = pd.Series( )
print(S1)

Series([], dtype: float64)

<ipython-input-9-6ad32c132567>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S1 = pd.Series( )

In [ ]:
import pandas as pd
a=[1,2,3,4]
b=["a","b","c","d"]
d={'c':23,'b':33}
c=pd.DataFrame(a,b)
e=pd.DataFrame(d,index=[1,2,4,5,6])
print(c)
print(e)

   0
a  1
b  2
c  3
d  4
    c   b
1  23  33
2  23  33
4  23  33
5  23  33
6  23  33

In [ ]:
import pandas as pd
S1 = pd.Series([2, 4, 6, 8, 10])
print(S1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
import pandas as pd
S1 = pd.Series(["a","e","i","o","u"])
print(S1)

0    a
1    e
2    i
3    o
4    u
dtype: object

In [ ]:
import pandas as pd
A = (11, 22, 33, 44, 55)
S1 = pd.Series(A)
print(S1)

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
import pandas as pd
A = input("Enter your name  : ")
S1 = pd.Series(list(A))
print(S1)

Enter your name  : XD
0    X
1    D
dtype: object

In [ ]:
import pandas as pd
D = {"Jan": 31, "Feb" : 28, "Mar" : 31}
S1 = pd.Series(D)
print(S1)

Jan    31
Feb    28
Mar    31
dtype: int64

In [ ]:
import pandas as pd
D = {6 : 140, 7 : 125, 8 : 100, 9 : 136, 10 : 200}
S1 = pd.Series(D)
print(S1)

6     140
7     125
8     100
9     136
10    200
dtype: int64

In [ ]:
import pandas as pd
S1 = pd.Series(12, index = [4, 6, 8])
print(S1)

4    12
6    12
8    12
dtype: int64

In [ ]:
import pandas as pd
S1 = pd.Series(range(1,15,3), index=[x for x in "super"])
print(S1)

s     1
u     4
p     7
e    10
r    13
dtype: int64

In [ ]:
import pandas as pd
S1 = pd.Series(range(100, 150, 10), index=[x for x in "My name is Amit Gandhi".split()])
print(S1)

My        100
name      110
is        120
Amit      130
Gandhi    140
dtype: int64

In [ ]:
import pandas as pd
L1=[1,"A",21]
S1 = pd.Series(data=2*L1)
print(S1)

0     1
1     A
2    21
3     1
4     A
5    21
dtype: object

In [ ]:
import numpy as num
import pandas as pd
arr=num.array([1,7,21])
S1 = pd.Series(arr)
print(S1)

0     1
1     7
2    21
dtype: int64

In [ ]:
import numpy as num
import pandas as pd
arr=num.array([1,7,21])
S1 = pd.Series(arr, index = (2))
print(S1)

TypeError: ignored

In [ ]:
import numpy as num
import pandas as pd
arr=num.array([31,47,121])
S1 = pd.Series(arr, index = (7,77,777))
print(S1[777])

121

In [ ]:
import numpy as num
import pandas as pd
arr=num.array([31,47,121])
S1 = pd.Series(arr)
print(S1[0])

31

In [ ]:
import pandas as pd
S1 = pd.Series([31, 28, 31, 30, 31],
               index = ["Jan", "Feb", "Mar", "Apr", "May"])
print("-----------")
print(S1[1:3])
print("-----------")
print(S1[:5])
print("-----------")
print(S1[3:3])
print("-----------")
print(S1["Jan":"May"])

-----------
Feb    28
Mar    31
dtype: int64
-----------
Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64
-----------
Series([], dtype: int64)
-----------
Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64

In [ ]:
import pandas as pd
S1 = pd.Series([31, 28, 31, 30, 31],
               index = ["Jan", "Feb", "Mar", "Apr", "May"])
print(S1[0 : 2] * 2)

Jan    62
Feb    56
dtype: int64

In [ ]:
import pandas as pd
S1[3]=7000
print(S1)

Jan      31
Feb      28
Mar      31
Apr    7000
May      31
dtype: int64

In [ ]:
import pandas as pd
S1 = pd.Series([2, 5, 7, 10])
print(S1 + 2)
print(S1 * 2)
print(S1 ** 2)
print(S1 - 2)
print(S1 > 2)

0     4
1     7
2     9
3    12
dtype: int64
0     4
1    10
2    14
3    20
dtype: int64
0      4
1     25
2     49
3    100
dtype: int64
0    0
1    3
2    5
3    8
dtype: int64
0    False
1     True
2     True
3     True
dtype: bool

In [ ]:
import pandas as pd
S1 = pd.Series([2, 5, 7, 10])
S2 = pd.Series([4,8,9,6])
print(S1)
print('\n')
print(S2)
print('\n')
print(S1.add(S2))

0     2
1     5
2     7
3    10
dtype: int64


0    4
1    8
2    9
3    6
dtype: int64


0     6
1    13
2    16
3    16
dtype: int64

In [ ]:
import pandas as pd
df1={'roll':[1,2,3,4]
   , 'name':["a","b","c","d"]
}
df= pd.Dataframe(df1)
print(df)

AttributeError: ignored